@import "colors";


// ==================================================================
// OVERRIDES
// ==================================================================

.tab-bar {
  border-bottom: 1px solid @tab-bar-border-color;

  .tab {
    color: @base-background-color;
  }
}

.package-updates-status-view.text-info {
  color: @nova_purpose_user_action_needed;
}
